<div class="user-container" [ngSwitch]="userType">
	<div *ngSwitchCase="'Host'">
		<div class="btn-container">
			<p>
				{{ userData?.firstName || 'User name' }}
				{{ userData?.lastName }}
			</p>
			<p>{{ userData?.email! }}</p>
			<p>{{ userData?.userType.nameType! }}</p>
			<button
				mat-raised-button
				routerLink="./profile"
				color="secondary"
				class=""
			>
				Ir a mi perfil
			</button>
		</div>
		<!-- User profile / foto, info personal, posibilidad de editar mostrar dentro de un desplegable -->
		<!-- Lista de propiedades if not null-->
		<!-- Lista de reservas if not null -->
		<div class="prop-container">
			<button
				mat-raised-button
				routerLink="./ownerlist"
				color="secondary"
				class="see-prop"
			>
				Ver mis propiedades
			</button>
		
		
		  <button
			mat-raised-button
			routerLink="./properties/bookings"
			color="secondary"
			class="manage"
		   >
			Gestionar mis alquileres
		  </button>
		  <button mat-raised-button routerLink="./bookings" color="secondary" class="view">
			Ver mis reservas
		  </button>
		</div>
		<button mat-raised-button (click)="logout()" color="secondary" class="">
			Cerrar Sesión
		</button>
	</div>
	<div *ngSwitchCase="'Guest'">
		<div class="btn-container">
			<p>
				{{ userData?.firstName || 'User name' }}
				{{ userData?.lastName }}
			</p>
			<p>User mail {{ userData?.email! }}</p>
			<p>User type {{ userData?.userType.nameType! }}</p>
			<button
				mat-raised-button
				routerLink="./profile"
				color="secondary"
				class=""
			>
				Ir a mi perfil
			</button>
		</div>
		<app-booking-userlist></app-booking-userlist>
		<button mat-raised-button (click)="logout()" color="secondary" class="">
			Cerrar Sesión
		</button>
	</div>
	<div *ngSwitchDefault>
		<button mat-raised-button (click)="logout()" color="secondary" class="">
			Cerrar Sesión
		</button>
	</div>
</div>
