.user-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 20px;
	margin-bottom: 100px;
	margin-top: 10px;
}

.btn-container{
	margin: 50px;
	
}
.see-prop{
	margin: 10px;
}
.manage{
	margin: 10px;
}
.view{
	margin: 10px;
}
.log-out{
	margin-top: 80px;
}


.list-container {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;

	h2 {
		margin: 0;
	}

	.mdc-card {
	

		.card-info {
			display: flex;
			

			.card-header {
				padding: 10px 10px 5px;
				font-size: 20px;
			}

			.card-content,
			.card-filter {
				padding: 5px 10px;
			}

			.card-actions {
				justify-content: space-between;
				padding: 5px 10px 10px;
				
			}
			.card-moreinfo{
				margin: 50px;
			}
		}
	}
}

.btn {
	width: 90%;
}
