<div class="link-container">
	<div class="container">
		<a [routerLink]="['/about-us']" class="link">
			<p class="link-text">Sobre nosotros</p>
		</a>
		<a href="#" class="link">
			<p class="link-text">Categorias</p>
		</a>
		<a [routerLink]="['/user/properties/new']" class="link">
			<p>Convertirse en Anfitrión</p>
		</a>
	</div>
	<div class="container">
		<a href="#" class="link">
			<p class="link-text">Noticias</p>
		</a>
		<a href="#" class="link">
			<p class="link-text">Centro de ayuda</p>
		</a>
	</div>
</div>
