*{
    margin-bottom: 0;
}
.container{
    background-color:black;
    display: flex;
    height: 100px;
    margin-top: auto;

}
.container-left{
   margin: 10px;
}

.container-rigth{

    margin: 10px;
}

.SN{
    margin: 5px;
}

.Cat{
    margin: 5px;
}

.CSA{
    margin: 5px;
}

.News{
    margin: 5px;
}

.CA{
    margin: 5px;
}
