<header> 
    <a href="#" class="logo">
        <img src="./assets/casa.png" alt="logo de la empresa">
        <h2 class="nombre de la empresa">CHOZAS ROSARIO
        </h2>
    </a>
    <button class="open-menu" aria-label="Abrir menu">
        <mat-icon svgIcon="menu" aria-hidden="false" aria-label="menu icon"></mat-icon>     
    </button>
    <nav>
        <button class="close-menu" aria-label="Cerrar menu">
            <mat-icon svgIcon="cruz" aria-hidden="false" aria-label="cruz icon"></mat-icon>
        </button>
        <a href="" class="nav-link">SOBRE NOSOTROS</a>
        <a href="" class="nav-link">CONTACTO</a>
        <a href="" class="nav-link">USUARIO</a>
    </nav> 
</header>

