header{
    display: flex;
    height: 70px;
    background-color: green;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: black;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 50px;
    margin-right: 10px;
}
nav{
    display: flex;
    gap: 20px;
    font-weight: 600;
}