<header> 
    <a href="#" class="logo">
        <img src="./assets/casa.png" alt="logo de la empresa">
        <h2 class="nombre-de-la-empresa">CHOZAS ROSARIO
        </h2>
    </a>
    <button class="btn-menu" aria-label="Abrir menu">
        <mat-icon svgIcon="menu" aria-hidden="false" aria-label="menu icon"></mat-icon>     
    </button>
    <nav id="menu" class="closed-menu">
        <button class="btn-menu btn-back" aria-label="Cerrar menu">
            <mat-icon svgIcon="cruz" aria-hidden="false" aria-label="cruz icon"></mat-icon>
        </button>
        <div class="link-container">
            <a routerLink="/about us">SOBRE NOSOTROS</a>
            <a routerLink="/contact">CONTACTO</a>
            <a routerLink="/user">USUARIO</a>
        </div>
    </nav> 
</header>

