<header class="header-container"> 
    <a href="#" class="logo">
        <img src="./assets/logo2.png" alt="logo de la empresa">
        <h2 class="nombre-de-la-empresa">GU ALQUILERES
        </h2>
    </a>
    <button class="btn-menu" aria-label="Abrir menu">
        <mat-icon svgIcon="menu" aria-hidden="false" aria-label="menu icon"></mat-icon>     
    </button>
    <nav id="menu" class="closed-menu">
        <button class="btn-menu btn-back" aria-label="Cerrar menu">
            <mat-icon svgIcon="cruz" aria-hidden="false" aria-label="cruz icon"></mat-icon>
        </button>
        <div class="link-container">
            <a class="menu-link" routerLink="/about-us">SOBRE NOSOTROS</a>
            <a class="menu-link" routerLink="/contact">CONTACTO</a>
            <a class="menu-link" routerLink="/user">USUARIO</a>
        </div>
    </nav> 
</header>

