
<div class="cards">
    <div class="card1">
     <a href="#" class=""> 
        <img src="./assets/BA.png" alt="" class="img1"> 
        <h1>BUENOS AIRES</h1>
     </a>
    </div>    
    <div class="card2">
        <a href="#" class=""> 
        <img src="./assets/cordoba.png" alt="" class="img2"> 
        <h1>CORDOBA</h1>
        </a>
    </div>    
    <div class="card3">
        <a href="#" class=""> 
        <img src="./assets/rosario.png" alt="" class="img3"> 
        <h1>ROSARIO</h1>
        </a>
    </div>    
    <div class="card4">
        <a href="#" class=""> 
        <img src="./assets/ushuaia.png" alt="" class="img4"> 
        <h1>USHUAIA</h1>
        </a>
    </div>    

</div>
