<div class="trends">
<mat-chip-set class="trenfilter-container">
    <mat-chip class="trendfilter">NUEVA YORK</mat-chip>
    <mat-chip class="trendfilter">BARCELONA</mat-chip>
    <mat-chip class="trendfilter">CANCUN</mat-chip>
    <mat-chip class="trendfilter">VENECIA</mat-chip>
    <mat-chip class="trendfilter">BUENOS AIRES</mat-chip>
    <mat-chip class="trendfilter">PARIS</mat-chip>
    <mat-chip class="trendfilter">VILLA SOLDATI</mat-chip>
    <mat-chip class="trendfilter">1-11-14</mat-chip>
    <mat-chip class="trendfilter">LA MATANZA</mat-chip>
    <mat-chip class="trendfilter">EMPALME</mat-chip>
    <mat-chip class="trendfilter">BELLA VISTA</mat-chip>
    <mat-chip class="trendfilter">LA QUIACA</mat-chip>
</mat-chip-set>
</div>