<div class="user-container">
  <!-- Si no está logueado -->
  <app-login class="login-form"></app-login>
  <div class="btn-container">
    <a routerLink="./register" class="btn-register">
      <button mat-raised-button color="secondary">Registrarse</button>
    </a>
  </div>
  <!-- Una vez logueado -->
  <!-- User Profile Info -->
  <!-- Cargar Propiedad -->
  <div class="btn-container">
    <a routerLink="./properties/new" class="btn-register">
      <button mat-raised-button color="primary">Cargar nueva propiedad</button>
    </a>
  </div>
</div>