.container{
    background-color: rgb(145, 221, 186);
    margin-top: 70px;
    padding: 0;
    width: 100%;
}

.encabezado{
    background-color: rgb(145, 221, 186);
   height: 50vh;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    img{
        
        width: 100%;
    }
}
.cuerpo{
    
    height: 10vh;
    margin: 3% 0;
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 400;
}
.fotos1{
    background-color: rgb(145, 221, 186);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    width:auto ;
}

.cuerpo2{
    height: 10vh;
    margin: 3% 0;
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    
}
.fotos3{
    background-color: rgb(145, 221, 186);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;

}
.end{
    background-color: rgb(145, 221, 186);
    text-align: right;
    background-color: black;
    color: aliceblue;
    height: 100px;
    width: 100%;
    
    
}

h4{
    margin-right: 50px;
    padding:20px;
    
}