
<div class="container">
    <div class="encabezado">
        <img src="./assets/logo1.png" alt="logo de la empresa">
    </div>
    <div class="cuerpo">
        <h2>Somos una empresa dedicada al alquiler de inmuebles en Rosario.
        </h2>
        
    </div>
 <div class="fotos1">
    <img src="./assets/casa1.png" alt="foto casa 1">
    <img src="./assets/casa2.png" alt="foto casa 2">
 </div>
 <div class="cuerpo2">
    <h3>CASAS Y DEPARTAMENTOS TOTALMENTE EQUIPADOS PARA NECESIDADES BASICAS Y MAS
 </h3>
</div>
<div class="fotos3">
    <img src="./assets/casa8.png" alt="foto casa 8">
    <img src="./assets/casa9.png" alt="foto casa 9">
</div>
<div class="end">
<h4>explore, search and enjoy</h4>
</div>
    

</div>
