<div class="list-container">
	<h2>Mis Reservas</h2>
	<mat-card *ngFor="let booking of bookingList">
		<!-- <img
			mat-card-md-image
			[src]="booking._id || './assets/casa.png'"
			alt="Imagen de la casa"
			class="card-img"
		/> -->
		<div class="card-info">
			<mat-card-header class="card-header">{{
				'Property name'
			}}</mat-card-header>
			<mat-card-header class="card-header">{{
				'Property location'
			}}</mat-card-header>
			<mat-card-content class="card-content">
				Check In : {{ booking.checkIn | date }} - Check Out :
				{{ booking.checkOut | date }}
			</mat-card-content>

			<!-- Traer properties ya populadas en city y province -->
			<mat-card-content class="card-content">
				Estado : {{ booking.status }}
			</mat-card-content>
			<mat-card-content class="card-content">
				{{ 'Nombre del dueño' }}
			</mat-card-content>

			<mat-card-content class="card-filter">
				<mat-chip-set>
					<mat-chip>{{ 'Precio' }} por día</mat-chip>
					<mat-chip>Total: $ {{ booking.totalPrice }}</mat-chip>
					<!-- <mat-chip>{{ booking._id }} Habitaciones</mat-chip>
					<mat-chip>{{ booking._id }} Baños</mat-chip> -->
				</mat-chip-set>
			</mat-card-content>
			<mat-card-actions class="card-actions">
				<button mat-raised-button color="primary" class="card-moreinfo">
					Gestionar mi reserva
				</button>
			</mat-card-actions>
		</div>
	</mat-card>
	<!-- <button mat-raised-button routerLink="../properties/new" color="primary">
		Cargar nueva propiedad
	</button> -->
</div>
