
.list-container{
    display: flex;
    margin: 20px;
    flex-direction: column;
    gap: 20px;
    text-align: center;

}
.card-info{
    margin: 25px;
}

.card-moreinfo{
    margin-left: 150px;
    margin-top: 25px;
}