*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
#sectionBusqueda {
    display: flex;
    height: 15vh;
    width: 100%;
    background-color: lightgrey;
    align-items: center;
    justify-content: space-evenly;
    // gap: 20px;
}
#busquedaBox {
    display: flex;
    background-color: grey;
    width: 75%;
}
#busquedaInput {
    height: 100%;
    font-size: 18px;
    padding: 15px;
    width: 90%;
}
#busquedaButton {
    width: 10%;
    display: inline;
}
#busquedaButton:hover {
    background-color: aquamarine;
    cursor: pointer;
}
#filtroBox:hover {
    cursor: pointer;
}