<form [formGroup]="searchForm" class="form-container">
	<mat-form-field class="form-search" subscriptSizing="dynamic">
		<mat-label class="form-label">Buscar por Ciudad o Provincia</mat-label>
		<input
			class="form-search-input"
			type="text"
			matInput
			[matAutocomplete]="auto"
			formControlName="locationInput"
			[formControl]="locationInput"
			required="true"
		/>
		<mat-autocomplete
			autoActiveFirstOption
			#auto="matAutocomplete"
			(optionSelected)="updateMySelection($event)"
			required="true"
		>
			<mat-option
				*ngFor="let location of filteredLocations | async"
				[value]="location.nombre"
				[id]="location.id"
				[attr.data-depto]="location.departamento"
				[attr.data-tipo]="location.centroide ? 'province' : 'city'"
				[attr.data-idprov]="location.centroide ? '' : location.provincia_id"
			>
				{{
					location.centroide
						? location.nombre + ' (Provincia)'
						: location.nombre + ', ' + location.departamento
				}}
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>
	<div class="fechas">
		<mat-form-field class="checkin" subscriptSizing="dynamic">
			<mat-label class="form-label">Check In</mat-label>
			<input
				matInput
				[matDatepicker]="pickerCheckIn"
				formControlName="checkin"
				required="true"
			/>
			<mat-hint class="form-label-hint">Ej. 21/01/2024</mat-hint>
			<mat-datepicker-toggle
				matSuffix
				[for]="pickerCheckIn"
			></mat-datepicker-toggle>
			<mat-datepicker #pickerCheckIn></mat-datepicker>
		</mat-form-field>
		<mat-form-field class="checkout" subscriptSizing="dynamic">
			<mat-label class="form-label">Check Out</mat-label>
			<input
				matInput
				[matDatepicker]="pickerCheckOut"
				formControlName="checkout"
				required="true"
			/>
			<mat-hint class="form-label-hint">Ej. 27/01/2024</mat-hint>
			<mat-datepicker-toggle
				matSuffix
				[for]="pickerCheckOut"
			></mat-datepicker-toggle>
			<mat-datepicker #pickerCheckOut></mat-datepicker>
		</mat-form-field>
	</div>
	<div class="form-personas">
		<mat-form-field class="form-personas-input" subscriptSizing="dynamic">
			<mat-label class="form-label">Cant. Habitaciones</mat-label>
			<input matInput formControlName="roomqty" type="number" required="true" />
		</mat-form-field>
		<button
			(click)="handleSearch()"
			class="boton"
			mat-raised-button
			color="primary"
		>
			BUSCAR
		</button>
	</div>
</form>
