.list-container {
	display: flex;
	text-align: center;
	flex-direction: column;
	gap: 10px;
	margin: 20px 0;
}

.card-actions {
	display: flex;
	justify-content: space-between;
}
.prop-container {
	width: 90%;
	margin: 0 auto;
	border: 1px solid rgb(157, 184, 186);
	padding: 10px;
	align-items: center;
}
.card-content {
	text-align: start;
}
.card-detail-text {
	font-size: 10px;
}

.card-footer {
	font-size: 20px;
	text-align: center;
	padding: 0 !important;
	&-text {
		font-size: 12px;
		padding: 0 !important;
	}
}
.more-prop {
	margin-top: 30px;
	width: 230px;
	margin-left: 70px;
}
