<form [formGroup]="newPropertyForm">
	<mat-card>
		<mat-card-header class="header">
			<mat-card-title>Registrar nueva propiedad</mat-card-title>
		</mat-card-header>
		<mat-card-content class="contenido">
			<mat-form-field class="text-field">
				<input
					type="text"
					formControlName="nameProperty"
					matInput
					placeholder="Nombre identificatorio de la Propiedad"
				/>
			</mat-form-field>
			<mat-form-field class="text-field">
				<input
					type="text"
					formControlName="address"
					matInput
					placeholder="Dirección"
				/>
			</mat-form-field>
           <div class="auto-comp">
			<app-autocomplete
				[tipoFiltro]="'province'"
				(selectedProvince)="selectProvince($event)"
				class="prov"
			></app-autocomplete>

			<!-- https://docs.angular.lat/guide/inputs-outputs -->

			<app-autocomplete
				[tipoFiltro]="'city-by-province'"
				[province]="provinceSelected.id"
				(selectedCity)="selectCity($event)"
				class="city"
			></app-autocomplete>
           </div>
			<mat-form-field class="text-field">
				<input
					type="text"
					formControlName="zone"
					matInput
					placeholder="Barrio"
				/>
			</mat-form-field>
			<mat-form-field class="text-field">
				<input
					type="number"
					formControlName="m2"
					matInput
					placeholder="Nº de M2"
				/>
			</mat-form-field>
			<mat-form-field class="text-field">
				<input
					type="number"
					formControlName="spaces"
					matInput
					placeholder="Nº de Ambientes"
				/>
			</mat-form-field>
			<mat-form-field class="text-field">
				<input
					type="number"
					formControlName="roomQty"
					matInput
					placeholder="Nº de Habitaciones"
				/>
			</mat-form-field>
			<mat-form-field class="text-field">
				<input
					type="number"
					formControlName="bathQty"
					matInput
					placeholder="Nº de Baños"
				/>
			</mat-form-field>
			<mat-form-field class="text-field">
				<input
					type="number"
					formControlName="price"
					matInput
					placeholder="Precio"
				/>
			</mat-form-field>
			<!-- Select options estado -->

			<mat-form-field class="text-field">
				<input
					type="text"
					formControlName="state"
					matInput
					placeholder="Estado Inicial"
				/>
			</mat-form-field>
			<mat-card-content class="marco-patio">
			<mat-radio-group formControlName="backyard" class="Patio">
				<mat-label class="n1">Patio</mat-label>
				<mat-radio-button value="true">Tiene</mat-radio-button>
				<mat-radio-button value="false">No tiene</mat-radio-button>
			</mat-radio-group>
		</mat-card-content>
		<mat-card-content class="marco-parrilla">
			<mat-radio-group formControlName="grill" class="Parrilla">
				<mat-label class="n2">Parrilla</mat-label>
				<mat-radio-button value="true">Tiene</mat-radio-button>
				<mat-radio-button value="false">No tiene</mat-radio-button>
			</mat-radio-group>
		</mat-card-content>
		</mat-card-content>
		<mat-card-actions class="carga">
			<button (click)="onSubmit()" mat-raised-button color="primary">
				Cargar propiedad
			</button>
		</mat-card-actions>
	</mat-card>
</form>
