/* You can add global styles to this file, and also import other style files */
@import "assets/fonts.scss";

* {
  font-family: "Signika", sans-serif !important;
  font-weight: 200;
}
html,
body {
  height: 100%;
  margin: 0;
}

.full-width,
table {
  width: 100%;
}
