<div class="card-container">
	<mat-card class="card" *ngFor="let Property of searchData">
		<mat-card-content class="card-img-container">
			<img
				mat-card-image
				[src]="Property.photo || './assets/casa.png'"
				alt="Imagen de la casa"
				class="card-img"
			/>
		</mat-card-content>
		<mat-card-header class="card-header">{{
			Property.nameProperty
		}}</mat-card-header>
		<mat-card-content class="card-content">{{
			'Zona ' +
				Property.zone +
				', ' +
				Property.cityInfo.nameCity +
				', ' +
				Property.cityInfo.nameDepartamento
		}}</mat-card-content>
		<mat-card-content class="card-filter">
			<mat-chip-set>
				<mat-chip>{{ Property.m2 }}m2</mat-chip>
				<mat-chip>{{ Property.roomQty }} Habitaciones</mat-chip>
				<mat-chip>{{ Property.bathQty }} Baños</mat-chip>
				<mat-chip>{{
					Property.grill ? 'Con parrillero' : 'Sin parrilla'
				}}</mat-chip>
				<mat-chip>{{ Property.backyard ? 'Con patio' : 'Sin patio' }}</mat-chip>
			</mat-chip-set>
		</mat-card-content>
		<mat-card-actions class="card-actions">
			<mat-card-footer class="card-footer">
				<mat-card-content class="card-price">
					{{ '$ ' + Property.price }}
				</mat-card-content>
				<mat-card-content class="card-price-text"
					>Precio por noche</mat-card-content
				>
			</mat-card-footer>
			<a
				routerLink="/property/{{ Property._id }}"
				[queryParams]="{
					checkIn: bookingInfo.checkInExp,
					checkOut: bookingInfo.checkOutExp
				}"
			>
				<button mat-raised-button class="card-moreinfo" color="primary">
					Más info...
				</button>
			</a>
		</mat-card-actions>
	</mat-card>
</div>
