.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 90px 0 20px;
}
.card {
    width: 90%;
    border: 1px solid lightgray;
    padding: 20px;
}
.card-img {
    width: 100%;
}
.card-header{
    padding: 20px 0;
    font-size: 24px;
}
.card-content {
    padding: 5px 0;
    font-size: 18px;
}
.card-filter{
    padding: 5px 0;

}
.card-footer {
    // padding: 5px 0;
    font-size: 24px;
    text-align: end;
}
.card-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0;
}
.card-moreinfo {
    padding: 15px;
    font-size: 14px;
    text-decoration: underline;
    background-color: transparent;
    border: none;
}

.prop-container {
    margin-top: 90px;
    padding: 10px 20px;
}

.prop-name {
    font-size: 20px;
}

.details-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
}

.prop-detail {
    // background-color: gray;
    border: 1px solid rgb(157, 184, 186);
    display: inline-block;    
    padding: 20px;
    margin: 0;
    text-align: center;

    &.detail-false{
        display: none;
    }
}

.booking-container {
    // background-color: green;
    padding: 10px 20px;
}

.booking-info {
    border: 2px solid rgb(68, 104, 106);
    padding: 20px;
}

.booking-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}