<!-- <div class="card-container">
    <mat-card class="card"> 
        <img mat-card-image [src]="Property?.photo" alt="Imagen de la casa" class="card-img">
        <mat-card-header class="card-header">{{ Property?.nameProperty }}</mat-card-header>
        <mat-card-content class="card-content">{{ Property?.zone }}</mat-card-content>
        <mat-card-content class="card-content">{{ Property?.address }}</mat-card-content>
        <mat-card-content class="card-content">{{ Property?.spaces }} Ambientes</mat-card-content>
        <mat-card-content class="card-content">Patio: {{ Property?.backyard ? "si" : "no"  }}</mat-card-content>
        <mat-card-content class="card-content">Parrilla: {{ Property?.grill ? "si" : "no" }}</mat-card-content>
        <mat-card-content class="card-filter">
            <mat-chip-set>
                <mat-chip>{{Property?.m2}}m2</mat-chip>
                <mat-chip>{{Property?.roomQty}} Habitaciones</mat-chip>
                <mat-chip>{{Property?.bathQty}} Baños</mat-chip>
            </mat-chip-set>
        </mat-card-content>
        <mat-card-actions class="card-actions">
            <mat-card-footer class="card-footer">Precio</mat-card-footer>
        </mat-card-actions>
    </mat-card>
</div> -->

    <!--    
        Nombre
        Direccion, Provincia
        Fotos 
        Mapa GPS
        Detalles
        Servicios
        Descripcion

        Reserva
        Fechas
        Precio por dia y total

        Reseñas
        FAQ

        Info/descripcion dueño

        Cercanias al lugar
     -->

<div class="prop-container">
    <div class="header-container">
        <p class="prop-name">{{ Property?.nameProperty }}</p>
        <p class="prop-ubicacion">{{ Property?.address }}, Barrio {{ Property?.zone }}</p>
    </div>
    <div class="img-container">
        <img mat-card-image [src]="Property?.photo" alt="Imagen de la casa" class="card-img">
    </div>
    <div class="details-container">
        <p class="prop-detail">{{Property?.m2}} m2</p>
        <p class="prop-detail">{{ Property?.spaces }} Ambientes</p>
        <p class="prop-detail">{{Property?.roomQty}} Habitaciones</p>
        <p class="prop-detail">{{Property?.bathQty}} Baños</p>
        <p class="prop-detail">{{ Property?.backyard ? "Patio" : ""  }}</p>
        <p class="prop-detail">{{ Property?.grill ? "Parrilla" : "" }}</p>
    </div>
</div>